# This section MUST be configured
SITE_NAME: "IdeaMan's Blog"
# Admin Dashboard Management, If ADMIN_USER is blank, No One can login into Dashboard
# Recommend using your personal Email, if SENDCLOUD_USER is setted, System WILL send you notification email.
# For more detail, see: /app/models/comment.rb
ADMIN_USER: 'admin'
ADMIN_PASSWORD: 'admin'


# Rails secret token, use `rake secret` to generate new one here.
SECRET_TOKEN: 'a73c07e96d86a1a6e26639d5a6e072f0751ebd70d5d2155bcbc42802e24353c156f926347de1d68a1e69d8f4a3f1a9289dbdde9b125c62c47254e8917f61f92f'

#locale: en or zh-CN, zh-CN is default value
LOCALE: 'zh-CN'

# sidekiq redis namespace, if you configure two blog in on VPS, you should change it.
# default is wblog
REDIS_NAMESPACE: 'wblog'

# META description for SEO
INTRODUCE: 'I`m IdeaMan.'

# optional
# google analytics, blank it if you don't need
GOOGLE: ''

# Email Setting, see more: /config/environments/production.rb
MAIL_SERVER: ''
DOMAIN_NAME: ''
MAIL_USERNAME: ''
MAIL_PASSWORD: ''
